body{
    background:  white url("images/frozen.jpg") no-repeat;
    background-position: top;
    background-size: 100%;

}

title{
    color: #c80;
    font-weight: bold;
}

li a{
    color: green;
}